# Class and Objects

In [1]:
class alpha:
    pass

In [2]:
obj = alpha();

In [3]:
print(type(obj))

<class '__main__.alpha'>

In [5]:
if __name__ == "__main__": #entry point of python program
    obj = alpha()
    print(type(obj))

<class '__main__.alpha'>


# class attribute and instance attribute

In [6]:
class Vehicle:
    wheeler = 4

In [7]:
car = Vehicle()

In [8]:
car.wheeler

4

In [9]:
bus = Vehicle()

In [10]:
bus.wheeler

4

In [2]:
class Vehicle:
    wheeler = 4
    
    def __init__(self, no_of_seat):
        type(self)  #self is an object
        self.no_of_seat = no_of_seat

In [10]:
car = Vehicle(6)

In [11]:
car.wheeler

4

In [12]:
car.no_of_seat

6

In [13]:
bus = Vehicle(50)

In [14]:
bus.wheeler

4

In [15]:
bus.no_of_seat

50

In [18]:
class person:
    def __init__(self, name, age):  #to initialize/define attribute of an object
        self.name = name
        self.age = age

In [19]:
p1 = person("Kusum",22)

In [20]:
p1

In [21]:
p1.name

'Kusum'

In [22]:
p1.age

22

NOTE: constructor creates an object __new__ is a constructor, __init__ is not a constructor as (self) is passed in __init__, is already created in the object

In [23]:
def test(*args, **kwargs):
    print(args)
    print(kwargs)

In [25]:
test(2,3,4, firstname = "Kusum", age = 22)   #here both tuple and dictionary values are given and args recognize tuple whereas kwargs recognize dictionary values

(2, 3, 4)
{'firstname': 'Kusum', 'age': 22}

In [26]:
class person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    def display(self):
        print ("Your name is {} and your age is {}".format(self.name, self.age))

In [27]:
P1 = person("Kusum", 22)

In [32]:
P1.display()

Your name is Kusum and your age is 22

In [33]:
P2 = person("Sita",56)

In [34]:
P2.display()

Your name is Sita and your age is 56

In [ ]:
#CLASSWORK circle = class, object and attribute is radius -- display radius

In [35]:
class circle:
    def __init__(self, radius):
        self.radius = radius
    def display(self):
        print("The radius of the circle is {}".format(self.radius))

In [37]:
C1 = circle(7)

In [38]:
C1.display()

The radius of the circle is 7

In [39]:
C2 = circle(14)

In [41]:
C2.display()

The radius of the circle is 14

In [ ]:
#display radius and area

In [76]:
class circle:
    def __init__(self, radius):
        self.radius = radius
        
    def display_r(self):
        print("The radius of the circle is {}".format(self.radius))
        
    def calculate_area(self):
        return 22/7 * (self.radius ** 2)

In [77]:
C1 = circle(7)

In [78]:
area = C1.calculate_area()

In [79]:
area

154.0

In [80]:
C1.display_r()

The radius of the circle is 7