In [1]:
import sqlite3

# CREATE

In [2]:
con = sqlite3.connect("class2.db")

In [4]:
cur = con.cursor()

In [5]:
create_query = """
create table student(roll_no, name)"""

In [6]:
cur.execute(create_query)

In [7]:
con.commit()

# INSERT

In [8]:
insert_query = """
insert into student(roll_no,name)
values
(1,"Kusum"),
(2,"Basnet")
"""

In [9]:
cur.execute(insert_query)

# SELECT

In [10]:
cur.execute("Select * from student").fetchall()

[(1, 'Kusum'), (2, 'Basnet')]

In [ ]:
cur.execute("Select name from student").fetchall()

In [12]:
cur.execute("Select name from student where name = 'Kusum'").fetchall()

[('Kusum',)]

# UPDATE

In [13]:
up ="""
update student
set name = 'Kusum Basnet'
where roll_no = 1
"""

In [14]:
cur.execute(up)

In [15]:
cur.execute("Select * from student").fetchall()

[(1, 'Kusum Basnet'), (2, 'Basnet')]

# EXECUTE MANY

In [16]:
data = [
    (3, 'Krismeen Lama'),
    (4, 'Sanjibani Subedi'),
    (5, 'Alisha Baruwal')
]

In [18]:
cur.executemany("Insert into student(roll_no, name) values (?,?)",data)

In [19]:
cur.execute("Select * from student").fetchall()

[(1, 'Kusum Basnet'),
 (2, 'Basnet'),
 (3, 'Krismeen Lama'),
 (4, 'Sanjibani Subedi'),
 (5, 'Alisha Baruwal')]

# DELETE
Dont do it unless absolutely necessary

In [20]:
cur.execute("Delete from student where roll_no = 2")

In [21]:
cur.execute("Select * from student").fetchall()

[(1, 'Kusum Basnet'),
 (3, 'Krismeen Lama'),
 (4, 'Sanjibani Subedi'),
 (5, 'Alisha Baruwal')]